code/DrCable_OSB/wsdl/HabilidadesExtra.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
	xmlns:tns="http://tempuri.org/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="HabilidadesExtra"
	targetNamespace="http://tempuri.org/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import schemaLocation="xsd/HabilidadesExtra0.xsd"
				namespace="http://tempuri.org/" />
			<xsd:import schemaLocation="xsd/HabilidadesExtra1.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
			<xsd:import schemaLocation="xsd/HabilidadesExtra2.xsd"
				namespace="http://schemas.datacontract.org/2004/07/AMDrCable" />
			<xsd:import schemaLocation="xsd/HabilidadesExtra3.xsd"
				namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IHabilidadesExtra_hAprovisionamiento_InputMessage">
		<wsdl:part name="parameters" element="tns:hAprovisionamiento" />
	</wsdl:message>
	<wsdl:message name="IHabilidadesExtra_hAprovisionamiento_OutputMessage">
		<wsdl:part name="parameters" element="tns:hAprovisionamientoResponse" />
	</wsdl:message>
	<wsdl:message name="IHabilidadesExtra_hGraficasSevOne_InputMessage">
		<wsdl:part name="parameters" element="tns:hGraficasSevOne" />
	</wsdl:message>
	<wsdl:message name="IHabilidadesExtra_hGraficasSevOne_OutputMessage">
		<wsdl:part name="parameters" element="tns:hGraficasSevOneResponse" />
	</wsdl:message>
	<wsdl:portType name="IHabilidadesExtra">
		<wsdl:operation name="hAprovisionamiento">
			<wsdl:input wsaw:Action="http://tempuri.org/IHabilidadesExtra/hAprovisionamiento"
				message="tns:IHabilidadesExtra_hAprovisionamiento_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IHabilidadesExtra/hAprovisionamientoResponse"
				message="tns:IHabilidadesExtra_hAprovisionamiento_OutputMessage" />
		</wsdl:operation>
		<wsdl:operation name="hGraficasSevOne">
			<wsdl:input wsaw:Action="http://tempuri.org/IHabilidadesExtra/hGraficasSevOne"
				message="tns:IHabilidadesExtra_hGraficasSevOne_InputMessage" />
			<wsdl:output
				wsaw:Action="http://tempuri.org/IHabilidadesExtra/hGraficasSevOneResponse"
				message="tns:IHabilidadesExtra_hGraficasSevOne_OutputMessage" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IHabilidadesExtra"
		type="tns:IHabilidadesExtra">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="hAprovisionamiento">
			<soap:operation
				soapAction="http://tempuri.org/IHabilidadesExtra/hAprovisionamiento"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="hGraficasSevOne">
			<soap:operation
				soapAction="http://tempuri.org/IHabilidadesExtra/hGraficasSevOne"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HabilidadesExtra">
		<wsdl:port name="BasicHttpBinding_IHabilidadesExtra"
			binding="tns:BasicHttpBinding_IHabilidadesExtra">
			<soap:address location="http://cvsoades/drCableHE/HabilidadesExtra.svc" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>